body {
  background-image: url("https://64.media.tumblr.com/3721bdf5409c46742c364180ef41b018/tumblr_n9hrd6XawS1rpco88o1_r1_500.gifv");
  background-repeat: repeat-x;
  background-size: 400px 450px;
  background-position: 400px 150px;
}


​
