<!DOCTYPE html>
<html >
        <head>
            <h1>My Portfolio</h1>
            <div class="wave" style="height: 150px; overflow: hidden;" ><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M0.00,49.98 C149.99,150.00 349.20,-49.98 500.00,49.98 L500.00,150.00 L0.00,150.00 Z" style="stroke: none; fill: pink;"></path></svg></div>
            <!-- HTML5 Doctype-->
            <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
            
            <!-- Reference to .css-->
            <link rel="stylesheet" type= "text/css" href="static/styles/styleixchel.css">
            <link rel="preconnect" href="https://fonts.gstatic.com">
            <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap" rel="stylesheet">

            <style>
                ul {
                  list-style-type: none;
                  margin: 0;
                  padding: 0;
                  overflow: hidden;
                  background-color: #333333;
                }
                
                li {
                  float: left;
                }
                
                li a {
                  display: block;
                  color: white;
                  text-align: center;
                  padding: 16px;
                  text-decoration: none;
                }
                
                li a:hover {
                  background-color: #111111;
                }
                </style>
      
        </head>
        
    <body>

        <!-- unordered list -->
        <ul>
            <!-- nav bar -->
            <li><a href="http://127.0.0.1:5000/home" style="text-decoration:none">Home</a></li>
            <li><a href="#aboutme" style="text-decoration:none">About me</a></li>
            <li><a href="#skills" style="text-decoration:none">Skills</a></li>
            <li><a href="#experience" style="text-decoration:none">Experiencie</a></li>
            <li><a href="#languages" style="text-decoration:none">Languages</a></li>
            <li><a href="#hobbies" style="text-decoration:none">Hobbies</a></li>
          </ul>

        <header>
            <section class="about-me">
                <img src="static/img/ixchel.png" width="460" height="560" ></p>
                <h2>Marcela Ixchel Gomez Wuotto</h2>
                <h3>  Information Technology Engineering at Tecnológico de Monterrey</h3>
            </section>
            
            <!-- Icon with media link-->
            <section class="networking">
                    <a href= "https://github.com/IxchelWuotto">
                    <img src="static/img/github.png" alt= "github"width="50" height="50"></a>
                
                    <a href = "https://www.linkedin.com/in/ixchelgowu">
                    <img src="static/img/linkedin.png" alt= "linkedin" width="50" height="50"></a>
            </section>
        </header>    

        <main>

            <!-- General information in the page-->
            <section class= " cv">
                 <div class ="information-text">
                    <h3><a name="aboutme">About me</h3></a>
                    <p>I am an information technology engineering student at Tecnológico de Monterrey.<br/> 22 years old<br/>Mexican<br/>I'm interested in technological, computational, electronic and business areas.</p> 

                    <h3><a name="skills">Skills</h3></a>
                    <p>Social Networks<br/>Programming Languages: Java, Pyhton, C++, HTML, CSS<br/>Web Design<br/>DataBase<br/>Electrical circuits<br/>Project Managment<br/></p> 

                    <h3><a name="experience">Experiencie</h3></a>
                    <p>
                        Collaborator in "FinTech" DataBase project for Scotiabank group (2019) <br/>Member of the Information Technology Student Society (SATI)(2018-2020)<br/>Production Engineer MLH Fellowship (2021)
                    </p>

                    <h3><a name="languages">Languages</h3></a>
                    <p>
                        Spanish- Native<br/>English- Advanced<br/>German- Intermediate<br/>French- Basic
                    </p>

                    <h3><a name="hobbies">Hobbies</h3></a>
                    <p>
                        Travel<br/>Meditation<br/>Event Organization<br/>Fashion Design<br/>Lift weights
                    </p>
                </div>
            </section>
        </main>

            <!-- footer at the end of the page -->
            <footer>
                <div class="footer">
                    <h5>Contact</h5>
                    <p> <img src="static/img/email.png" alt= "email" width="30" height="30">
                        ixchelgo@hotmail.com  
                    </p> 
                </div>

            </footer>
            
    </body>
</html>
