name: ci

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs: 
  bake: 
    runs-on: ubuntu-latest
    steps: 
      - 
        name: "Check out Git repository"
        uses: actions/checkout@v2
      - 
        name: "Set up Python"
        uses: actions/setup-python@v1
        with: 
          python-version: 3.8
      - 
        name: "Install Python dependencies"
        run: "pip install black flake8"
      - 
        name: "Set up Docker Buildx"
        uses: docker/setup-buildx-action@v1
      - 
        name: "Build and push"
        uses: docker/bake-action@master
        with: 
          push: true
